<script>
    var _lang_dic_key = "super_node_manage_lang_dic_key" ;
</script>

<link rel="stylesheet" href="${ctxPath!}/static/plugins/pace/themes/pink/pace-theme-flash.css?v=${v!}" media="all"/>
<link rel="stylesheet" href="${ctxPath!}/static/plugins/layui/css/layui.css?v=${v!}" media="all"/>
<link rel="stylesheet" href="${ctxPath!}/static/plugins/fontawesome/css/font-awesome.css?v=${v!}" media="all"/>
<link rel="stylesheet" href="${ctxPath!}/static/plugins/contextMenu/jquery.contextMenu.min.css?v=${v!}" media="all"/>
<link rel="stylesheet" href="${ctxPath!}/static/css/fs.css?v=${v!}" media="all"/>

<script type="text/javascript" charset="UTF-8" src="${ctxPath!}/static/plugins/jquery/jquery.min.js?v=${v!}"></script>
<script type="text/javascript" charset="UTF-8" src="${ctxPath!}/static/plugins/pace/pace.min.js?v=${v!}"></script>
<script type="text/javascript" charset="UTF-8" src="${ctxPath!}/static/lang/translator.js"></script>
<script type="text/javascript" charset="UTF-8" src="${ctxPath!}/static/plugins/layui/layui.js?v=${v!}"></script>
<script type="text/javascript" charset="UTF-8" src="${ctxPath!}/static/plugins/frame/js/fsDict.js?v=${v!}"></script>
<script type="text/javascript" charset="UTF-8" src="${ctxPath!}/static/plugins/frame/js/fs.js?v=${v!}"></script>
<script type="text/javascript" charset="UTF-8" src="${ctxPath!}/static/plugins/frame/js/frame.js?v=${v!}"></script>
<script type="text/javascript" charset="UTF-8" src="${ctxPath!}/static/plugins/contextMenu/jquery.contextMenu.min.js?v=${v!}"></script>
<script type="text/javascript" charset="UTF-8" src="${ctxPath!}/static/plugins/tinymce/tinymce.min.js"></script>
<script type="text/javascript" charset="UTF-8" src="${ctxPath!}/static/plugins/tinymce/jquery.tinymce.min.js"></script>
<script type="text/javascript" charset="UTF-8" src="${ctxPath!}/static/js/common.js"></script>
